* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.autocomplete {
  border: 1px solid rgb(218, 218, 218);
  padding: 0.5rem;
  width: 50%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #2c8595;
  color: #000000;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/*Scrollable table styles*/
thead,
tbody {
  display: block;
}

tbody {
  height: 500px; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: auto; /* Hide the horizontal scroll */
}

table {
  width: 100%;
}

tbody td,
thead th {
  width: 10%;
}

#center-table th {
  text-align: center;
  vertical-align: middle;
}

/*End of scrollable table styles*/

/*For coordinator dropdown in activity creation*/
.dropdown {
  min-width: 200px;
}

/*Icons*/
.dot-green {
  height: 15px;
  width: 15px;
  background-color: #46b378;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 1%;
}

.dot-blue {
  height: 15px;
  width: 15px;
  background-color: #60a1db;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 1%;
}

.dot-orange {
  height: 15px;
  width: 15px;
  background-color: #e6a940;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 1%;
}

/*Calendar*/
.rbc-calendar {
  min-height: 400px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color';
}

.sidebar {
  font-size: 14px;
  font-weight: bold;
}

.has-theme-color {
  color: #2c8595;
}

/* Remove warning from tinymce */
.tox-notification { display: none !important }

/* Collapsible */
.Collapsible {
  background-color: white; }

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #2c859571;
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }
  
/* End of collapsible*/

.error {
  font-size: 12px;
  color: red;
}