body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.autocomplete {
  border: 1px solid rgb(218, 218, 218);
  padding: 0.5rem;
  width: 50%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #2C8595;
  color: #000000;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/*Scrollable table styles*/ 
thead, tbody { display: block; }

tbody {
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}

table {
    width: 100%;
}

tbody td, thead th {
    width: 10%; 
}
/*End of scrollable table styles*/

/*For coordinator dropdown in activity creation*/
.dropdown {
  min-width: 200px;
}

/*Icons*/
.dot-green {
  height: 15px;
  width: 15px;
  background-color: #46b378;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
}

.dot-blue {
  height: 15px;
  width: 15px;
  background-color: #60a1db;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
}

.dot-orange {
  height: 15px;
  width: 15px;
  background-color: #e6a940;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  margin-top: 2%;
}

/*Calendar*/
.rbc-calendar {
  min-height: 600px ;
}